
.vs/ConsoleApp1/FileContentIndex/e3dc61ad-349b-46c9-8c7a-a13efbf899e5.vsidx
.vs/ConsoleApp1/FileContentIndex/44f9f085-7955-4ddd-8345-d2c8f23477a8.vsidx
.vs/ConsoleApp1/FileContentIndex/8daa3d8c-a047-4a3e-a24f-d1e2881509b6.vsidx
.vs/ConsoleApp1/FileContentIndex/719d1551-c01c-4388-89cd-ce8291cc61be.vsidx
.vs/ConsoleApp1/FileContentIndex/read.lock
